<?xml version="1.0" encoding="UTF-8"?>

<!--
Level order from most to least severe:
      logger.error()
      logger.warn()
      logger.info()
      logger.debug()
      logger.trace()


<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
    <File name="File" fileName="logs/app.log">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </File>
  </Appenders>
  <Loggers>
    # Change appender reference to File to log to file
    <Logger name="Node" level="info">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="Layer" level="debug">
      <AppenderRef ref="Console"/>
    </Logger>
    <Root level="error">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>
-->

<Configuration status="INFO">
  <Properties>
    <Property name="logPattern">%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n</Property>
    <Property name="fileName">logs/app-log-${date:yyyy-MM-dd-HH-mm-ss}</Property>
  </Properties>
  <Appenders>
    <File name="LogFile" fileName="${fileName}.log">
      <PatternLayout pattern="${logPattern}"/>
    </File>
  </Appenders>
  <Loggers>
    <Root level="info">
      <AppenderRef ref="LogFile"/>
    </Root>
  </Loggers>
</Configuration>

